*{
	box-sizing: border-box;
}

.login{
	margin-top: 20vh;
}

a{
	text-decoration: none;
}

.grey{
	color: #666;
}

.glyphicon-arrow-up{
	color: rgb(207, 48, 37);
}

.glyphicon-arrow-down{
	color: rgb(85,184,83);
}

.error{
	color: rgb(207, 48, 37);
	font-size: .9em;
}