*{
	box-sizing: border-box;
}

.login{
	margin-top: 20vh;
}

a{
	text-decoration: none;
}

.grey{
	color: #666;
}

.glyphicon-arrow-up{
	color: rgb(222,84,75);
}

.glyphicon-arrow-down{
	color: rgb(85,184,83);
}